<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="{{ url_for('desktop', path='/body.css') }}" rel="stylesheet">
    <link href="{{ url_for('mobile', path='/body.css') }}" rel="stylesheet">
    <link href="{{ url_for('css', path='/general.css') }}" rel="stylesheet">
    <link href="{{ url_for('css', path='/fonts.css') }}" rel="stylesheet">
    <script src="{{ url_for('js', path='/body.js') }}"></script>
    <title>{{title}} || DreiWerk Solutions</title>
    <!-- All icons are from https://www.svgrepo.com/  -->
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="top-bar">
    <div class="logo-section">
        <div class="logo" onclick="window.open('/', '_top')">
            <img class="company-logo" alt="" src="{{ url_for('assets', path='/images/dreiwerk_short.svg') }}">
        </div>
    </div>
    <div class="navigation-section">
        <div class="navigation-button" onclick="navigate('/')">Home</div>
        <div class="navigation-dropdown">
            <div class="nav-dropdown-info" onclick="navigate('/leistungen/')">
                <div class="nav-dropdown-text">Leistungen</div>
                <img class="nav-dropdown-icon" alt="" src="{{ url_for('assets', path='/icons/arrow_down.svg') }}">
            </div>
            <div class="nav-dropdown-content">
                <div class="nav-dropdown-content-div" onclick="navigate('/leistungen/web-entwicklung')"><div class="nav-dropdown-content-text">Webentwicklung</div> </div>
                <div class="nav-dropdown-content-div" onclick="navigate('/leistungen/app-entwicklung')"><div class="nav-dropdown-content-text">App-Entwicklung</div></div>
                <div class="nav-dropdown-content-div" onclick="navigate('/leistungen/individual-software')"><div class="nav-dropdown-content-text">Individualsoftware</div></div>
            </div>
        </div>
        <div class="navigation-button" onclick="navigate('/tech-stack')">Technologien</div>
<!--        <div class="navigation-button" onclick="navigate('/referenzen')">Referenzen</div>-->
        <div class="navigation-button" onclick="navigate('/about-us')">Über uns</div>
        <div class="navigation-button" onclick="navigate('/kontakt')">Kontakt</div>
        <div class="navigation-button" id="request" onclick="navigate('/anfrage')">
            Anfragen
            <img class="arrow-icon" alt="" src="/assets/icons/arrow_right.svg">
        </div>
    </div>
</div>
<div class="mobile-top-bar">
    <div class="mobile-logo-section">
        <img class="mobile-logo" alt="DreiWerk Logo" src="/assets/images/dreiwerk_short.svg" onclick="navigate('/')">
    </div>
    <div class="mobile-navigation-section">
        <button class="open-nav-button" id="open_nav_button" onclick="toggleMobileNavigation()"><img class="nav-icon" alt="open navigation button" src="/assets/icons/menu.svg"> </button>
    </div>
</div>
<div class="navigation-menu" id="mobile_nav_menu">
    <button class="mobile-nav-button" onclick="navigate('/')"><p class="inner-button">Home</p></button>
    <div class="mobile-nav-dropdown" >
        <button class="mobile-nav-button-with-svg" onclick="toggleDropdownNavigation()"><p class="inner-button">Leistungen</p><img class="nav-btn-icon" id="nav_btn_icon" alt="Show More Icon" src="/assets/icons/arrow_down.svg"> </button>
        <div class="mobile-dropdown-content" id="mobile_dropdown_content">
            <button class="mobile-nav-button" onclick="navigate('/leistungen/')"><p class="inner-button">Unsere Leistungen</p></button>
            <button class="mobile-nav-button" onclick="navigate('/leistungen/web-entwicklung')"><p class="inner-button">Web-Entwicklung</p></button>
            <button class="mobile-nav-button" onclick="navigate('/leistungen/app-entwicklung')"><p class="inner-button">App-Entwicklung</p></button>
            <button class="mobile-nav-button" onclick="navigate('/leistungen/individual-software')"><p class="inner-button">Individualsoftware</p></button>
        </div>
    </div>
    <button class="mobile-nav-button" onclick="navigate('/tech-stack')"><p class="inner-button">Technologien</p></button>
    <button class="mobile-nav-button" onclick="navigate('/about-us')"><p class="inner-button">Über uns</p></button>
    <button class="mobile-nav-button" onclick="navigate('/kontakt')"><p class="inner-button">Kontakt</p></button>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<div class="bottom-bar">
    <div class="bottom-bar-row">
        <div class="company-link-section">
            <div class="bottom-bar-heading">Im Überblick</div>
            <a class="bottom-bar-nav-link" href="/">Home</a>
            <a class="bottom-bar-nav-link" href="/leistungen/">Leistungen</a>
            <a class="bottom-bar-nav-link" href="/leistungen/web-entwicklung">Web-Entwicklung</a>
            <a class="bottom-bar-nav-link" href="/leistungen/app-entwicklung">App-Entwicklung</a>
            <a class="bottom-bar-nav-link" href="/leistungen/índividual-software">Individual-Software</a>
            <a class="bottom-bar-nav-link" href="/tech-stack">Technologien</a>
<!--            <a class="bottom-bar-nav-link" href="/referenzen">Referenzen</a>-->
            <a class="bottom-bar-nav-link" href="/about-us">Über uns</a>
            <a class="bottom-bar-nav-link" href="/kontakt">Kontakt</a>
            <a class="bottom-bar-nav-link" href="/anfrage">Anfrage</a>

        </div>
        <div class="company-info-section">
            <div class="bottom-bar-heading">Kontakt</div>
            <a class="bottom-bar-nav-link" href="tel:017670234154">017670234154</a>
            <a class="bottom-bar-nav-link" href="mailto:info@dreiwerk-solutions.de">info@dreiwerk-solutions.de</a>
        </div>
    </div>
    <div class="bottom-bar-row" id="lower-row">
        <div class="copyright-text">Copyright © 2024 DreiWerk Solutions</div>
        <div class="bottom-link-section">
            <a class="bottom-bar-link" href="/impressum">Impressum</a>
            <a class="bottom-bar-link" href="/datenschutz">Datenschutz</a>
<!--            <img class="circ-animation-icon" alt="" src="{{ url_for('assets', path='/icons/instagram_icon.svg') }}">-->
        </div>
    </div>
</div>
</body>
</html>