{% extends 'body.html' %}
{% block head %}
<link href="{{ url_for('desktop', path='/service_webdev.css') }}" rel="stylesheet">
<link href="{{ url_for('mobile', path='/service_webdev.css') }}" rel="stylesheet">
<script src="{{ url_for('js', path='/service_webdev.js') }}"></script>

{% endblock %}

{% block content %}
<div class="service-webdev">
    <div class="hero-section">
        <div class="hero-heading">Web-Entwicklung</div>
        <div class="hero-text">
            Mit modernsten Technologien und maßgeschneiderten Lösungen bringen wir Ihre Ideen zum Leben. Ob individuelle Websites, komplexe Webanwendungen oder Unternehmensportale – wir bieten Ihnen innovative Webentwicklung, die auf Ihre Bedürfnisse zugeschnitten ist und nachhaltig begeistert.
        </div>
        <div class="hero-text">
            Lassen Sie uns gemeinsam Ihre Vision online verwirklichen und Ihre digitale Präsenz auf das nächste Level heben.
        </div>
        <div class="button-with-svg" onclick="navigate('/anfrage')">
            Jetzt Website erstellen lassen!
            <img class="button-icon" alt="" src="{{ url_for('assets', path='/icons/arrow_right.svg') }}">
        </div>
    </div>


    <div class="professional-section">
        <div class="professional-heading">Professionelle<br>Webentwicklung</div>
        <div class="professional-text">
            Erfolgreiche Webentwicklung beginnt bei uns mit einem tiefen Verständnis für die Ziele und Herausforderungen Ihres Unternehmens. Wir entwickeln maßgeschneiderte Lösungen, die sich exakt an Ihre Anforderungen anpassen und echten Mehrwert schaffen.
            <br><br>
            Unser Service reicht von der Konzeption und Umsetzung moderner Webseiten über interaktive Single Page Applications bis hin zu robusten, skalierbaren Webanwendungen für komplexe Geschäftsanforderungen. Mit Fokus auf Performance, Sicherheit und Benutzerfreundlichkeit liefern wir Ihnen eine Weblösung, die überzeugt und Sie langfristig unterstützt.
        </div>
        <div class="professional-bullet-points">
            <div class="bullet-point-row">
                <img class="bullet-point-icon" alt="" src="{{ url_for('assets', path='/icons/web_icon.svg') }}">
                <div class="bullet-point-text">
                    <strong class="bullet-heading">Für jeden die passende Lösung</strong>
                    <br>
                    Egal ob Start-up, Mittelstand oder Großunternehmen, wir entwickeln maßgeschneiderte Weblösungen für jede Unternehmensgröße.
                </div>
            </div>
            <div class="bullet-point-row">
                <img class="bullet-point-icon" alt="" src="{{ url_for('assets', path='/icons/web_icon.svg') }}">
                <div class="bullet-point-text">
                    <strong class="bullet-heading">Individuelle Anpassungen nach Maß</strong>
                    <br>
                    Von der ersten Idee bis zur fertigen Umsetzung: Sie entscheiden, welche Funktionen und Leistungen für Ihr Projekt wichtig sind.
                </div>
            </div>
            <div class="bullet-point-row">
                <img class="bullet-point-icon" alt="" src="{{ url_for('assets', path='/icons/web_icon.svg') }}">
                <div class="bullet-point-text">
                    <strong class="bullet-heading">Zukunftssicher und erweiterbar</strong>
                    <br>
                    Unsere Lösungen wachsen mit Ihren Anforderungen und lassen sich jederzeit um neue Funktionen erweitern.
                </div>
            </div>
        </div>

    </div>

    <div class="slogan-section">
        <div class="slogan-heading">Von der Idee zur Realität <br> Ihre Website in besten Händen.</div>
        <div class="slogan-row">
            <div class="buttons-section">
                <div class="button-with-svg" onclick="navigate('/kontakt')">
                    Jetzt Website erstellen lassen!
                    <img class="button-icon" alt="" src="{{ url_for('assets', path='/icons/arrow_right.svg') }}">
                </div>
                <div class="button-with-svg">
                    <a href="tel:017670234154">017670234154</a>
                    <img class="button-icon" alt="" src="{{ url_for('assets', path='/icons/phone_icon2.svg') }}">
                </div>
                <div class="button-with-svg">
                    <a href="mailto:info@dreiwerk-solutions.de">info@dreiwerk-solutions.de</a>
                    <img class="button-icon" alt="" src="{{ url_for('assets', path='/icons/email_icon.svg') }}">
                </div>
            </div>
            <div class="logo-section" id="big-logo">
                <img class="company-logo" id="big" alt="" src="{{ url_for('assets', path='/images/dreiwerk_inverted.svg') }}">
            </div>
        </div>
    </div>
</div>

{% endblock %}