{% extends 'body.html' %}
{% block head %}
<link href="{{ url_for('desktop', path='/service_appdev.css') }}" rel="stylesheet">
<link href="{{ url_for('mobile', path='/service_appdev.css') }}" rel="stylesheet">
<script async src="{{ url_for('js', path='/service_appdev.js') }}"></script>
<meta name="description" content="App-Entwicklung von DreiWerk - Solutions, Cross-Plattform-Apps, Android-Apps, iOS-Apps">

{% endblock %}

{% block content %}
<div class="service-appdev">
    <div class="appdev-hero-section">
        <div class="typewriter">
            <div class="appdev-hero-heading">App Entwicklung für die Zukunft</div>
        </div>
        <div class="appdev-hero-text">
            Mit modernsten Technologien und ansprechendem Design bringen wir Ihre App-Idee auf das nächste Level. Von der Konzeptphase bis zur Markteinführung entwickeln wir maßgeschneiderte Apps, die nicht nur gut aussehen, sondern auch langfristig bestehen. Unser Team setzt auf zukunftssichere Technologien und intuitive Benutzeroberflächen, um Ihren Nutzern eine nahtlose und begeisternde Erfahrung zu bieten. Lassen Sie uns gemeinsam Ihre Vision in eine leistungsstarke App verwandeln.
        </div>
        <div class="button-with-svg" id="appdev-hero" onclick="navigate('/kontakt')">
            Jetzt App entwickeln lassen!
            <img class="button-icon" alt="" src="{{ url_for('assets', path='/icons/arrow_right.svg') }}">
        </div>
    </div>

    <div class="appdev-info-section">
        <img class="app-image" alt="" loading="lazy" src="{{ url_for('assets', path='/images/app_image_pexels.jpg') }}">
        <div class="appdev-info-text-section">
            <div class="appdev-hero-heading" id="info">Unsere App Entwicklung: Maßgeschneidert und zukunftssicher</div>
            <div class="appdev-hero-text" id="info-text">
                Bei DreiWerk Software Solutions stehen Ihre Ziele und Ideen im Mittelpunkt. Ob Sie eine maßgeschneiderte App für Ihr Unternehmen benötigen oder mit einer innovativen Vision starten möchten – wir begleiten Sie durch den gesamten Entwicklungsprozess und bieten umfassende Unterstützung.
                <br><br>
                Unser erfahrenes Team aus Projektmanagern und Entwicklern arbeitet eng mit Ihnen zusammen, um sicherzustellen, dass Ihre App nicht nur leistungsstark, sondern auch optisch ansprechend und intuitiv bedienbar ist.
                <br><br>
                Wir realisieren Softwarelösungen für Startups, KMUs und große Unternehmen. Unsere Entwicklung passt sich flexibel Ihren Anforderungen an – Sie bestimmen das volle Leistungsspektrum, und Ihre App bleibt jederzeit erweiterbar und zukunftssicher.
            </div>
            <button class="gradient-btn" id="termin-btn" onclick="navigate('/kontakt')">Jetzt Termin vereinbaren!</button>
        </div>
    </div>

</div>

{% endblock %}