:root{
    --primary: rgb(240, 248, 255);
    --secondary: rgb(224, 233, 249);
    --dark-blue: rgb(0, 51, 102);
    --text: rgb(45, 45, 45);
    --white-text: rgb(240,240,240);
    --highlight: rgb(0, 122, 204);
    --accent:  rgb(0, 204, 153);

    --shadow: rgba(42,42,42, .55);
    --accent-shadow: rgba(0, 204, 153, .65);

    --black-to-accent: brightness(0) saturate(100%) invert(50%) sepia(93%) saturate(1036%) hue-rotate(125deg) brightness(97%) contrast(103%);
    --black-to-highlight: brightness(0) saturate(100%) invert(31%) sepia(95%) saturate(4565%) hue-rotate(189deg) brightness(98%) contrast(101%);
    --black-to-dark-blue: brightness(0) saturate(100%) invert(9%) sepia(92%) saturate(3727%) hue-rotate(200deg) brightness(95%) contrast(103%);

    --small-font-size: .677vw; /*13px*/
    --medium-font-size: .98vw; /*19px*/
    --big-font-size: 1.25vw; /*24px*/
    --large-font-size: 1.89vw; /*36px*/
    --very-large-font-size: 2.6vw; /*50px*/
    --humongous-font-size: 5.2vw; /*100px*/

    --half-small-font-size: 1.25vw; /*10px at 800*/
    --half-medium-font-size: 1.875vw; /*15px*/
    --half-big-font-size: 2.5vw; /*20px*/
    --half-large-font-size: 3.75vw; /*30px*/
    --half-very-large-font-size: 5vw; /*40px*/
    --half-humongous-font-size: 8.75vw; /*70px*/

    --mobile-small-font-size: 2.1vw; /*iPhone SE: 8px*/
    --mobile-medium-font-size: 3.2vw; /*iPhone SE: 12*/
    --mobile-big-font-size: 4.8vw; /*iPhone SE: 18px*/
    --mobile-large-font-size: 5.87vw; /*iPhone SE: 22px*/
    --mobile-very-large-font-size: 7.47vw; /*iPhone SE: 28px*/
    --mobile-humongous-font-size: 9.6vw; /*iPhone SE: 36px*/

    --standard-shadow: 0 0 .325vw .105vw var(--shadow);
    --standard-accent-shadow: 0 0 .325vw .105vw var(--accent-shadow);

    --half-standard-shadow: 0 0 1.3vw .65vw var(--shadow);
    --half-standard-accent-shadow: 0 0 1.3vw .65vw var(--accent-shadow);

    --mobile-standard-shadow: 0 0 1vw .5vw var(--shadow);
    --mobile-standard-accent-shadow: 0 0 1vw .5vw var(--accent-shadow);


    --top-bar-height: 10vh;
    --half-top-bar-height: 10vh;
    --mobile-top-bar-height: 8vh;

}



body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: Nunito Sans, sans-serif;
    color: var(--text);
    font-size: var(--medium-font-size);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

h1, h2, h3, h4, h5{
    font-family: "Orbitron", sans-serif;
}

button{
    font-family: Nunito Sans, sans-serif;
}

div{
    font-family: Nunito Sans, sans-serif;
}

p{
    font-family: Nunito Sans, sans-serif;
}

button:focus{
    outline: none;
}

.button-with-svg{
    margin-top: 5vh;
    padding: 1vh .75vw;
    font-size: var(--big-font-size);
    font-weight: bolder;
    color: var(--dark-blue);
    font-family: Nunito Sans, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-bottom: .1vw solid var(--accent);
    transition: 450ms translate;
    display: flex;
    flex-direction: row;
    gap: .5vw;
}

.button-with-svg:hover{
    translate: 0 -2vh;
}

.button-icon{
    width: var(--medium-font-size);
    filter: var(--black-to-dark-blue);
}

.gradient-btn{
    cursor: pointer;
    font-size: var(--medium-font-size);
    color: var(--white-text);
    font-weight: bold;
    border: none;
    border-radius: .5vw;
    padding: .75vh 2vw;
    background: rgb(0,51,102);
    background: linear-gradient(90deg, rgba(0,51,102,1) 5%, rgba(0,204,153,1) 100%);
}

@media only screen and (max-width: 800px) and (min-width: 526px) {
    .button-with-svg{
        font-size: var(--half-big-font-size);
    }

    .button-icon{
        width: var(--half-big-font-size);
    }

    .gradient-btn{
        font-size: var(--half-medium-font-size);
    }

}

@media only screen and (max-width: 525px) {
    .button-with-svg{
        font-size: var(--mobile-big-font-size);
    }

    .button-icon{
        width: var(--mobile-big-font-size);
    }

    .gradient-btn{
        font-size: var(--mobile-medium-font-size);
    }
}