.impressum{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 6vh 0;
}

h1{
    font-size: var(--very-large-font-size);
}

p{
    font-size: var(--medium-font-size);
    margin-left: .25vw;

}