.service-webdev{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.hero-section{
    width: 75%;
    height: 65vh;
    margin-top: 4vh;
    margin-bottom: 12vh;
    border-radius: .8vw;
    padding: 2vh 2vw 5vh 2vw;
    background: rgb(0,204,153);
    background: linear-gradient(135deg, rgba(0,204,153,1) 55%, rgba(224,233,249,1) 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    font-size: var(--very-large-font-size);
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    color: var(--white-text);
}

.hero-text{
    color: var(--dark-blue);
    font-size: var(--medium-font-size);
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 55%;
    font-weight: bolder;
    text-align: center;

}

.button-with-svg{
    margin-top: 5vh;
    padding: 1vh .75vw;
    font-size: var(--big-font-size);
    font-weight: bolder;
    color: var(--white-text);
    font-family: Nunito Sans, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-bottom: .15vw solid var(--dark-blue);
    transition: 450ms translate;
    display: flex;
    flex-direction: row;
    gap: .5vw;
}

.button-with-svg:hover{
    translate: 0 -2vh;
}

.button-icon{
    width: var(--medium-font-size);
    filter: invert(1);
}

.professional-section{
    background-color: var(--secondary);
    width: 70%;
    padding: 3vh 1.5vw 5vh 1.5vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: .6vw;
    box-shadow: var(--standard-shadow);
}

.professional-heading{
    width: 70%;
    font-size: var(--very-large-font-size);
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}

.professional-text{
    width: 70%;
    font-size: var(--medium-font-size);
    margin-top: 2.5vh;
    letter-spacing: .075vw;
}

.professional-bullet-points{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2vh;
    margin-top: 4vh;
}

.bullet-point-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 1vw;
    gap: 1vw;
}

.bullet-point-icon{
    width: var(--big-font-size);
    filter: var(--black-to-accent);
}

.bullet-heading{
    font-size: var(--big-font-size);
}

.slogan-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 16vh;

    background: rgb(242,242,242);
    background: linear-gradient(225deg, rgba(242,242,242,1) 20%, rgba(0,204,153,0.75) 70%);
}

.slogan-heading{
    width: 70%;
    font-size: var(--very-large-font-size);
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    text-align: left;
}

.slogan-row{
    margin-top: 5vh;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.buttons-section .button-with-svg{
    margin-top: 3vh;
    border-bottom-color: var(--white-text);
}

.icons-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 2vh;
}

.icon-card{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: .75vw;
}

.step-number{
    font-weight: bold;
    font-size: var(--very-large-font-size);
    font-family: "Orbitron", sans-serif;
}

.icon{
    width: var(--very-large-font-size);
}

.icon-description{
    font-weight: bolder;
    font-size: var(--medium-font-size);
    text-align: left;
}

#big-logo{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;
}

#big{
    margin-top: 14vh ;
    width: 40%;
    filter: none;
}

