.tech-stack{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.tech-stack-landing{
    background: rgb(0,204,153);
    background: linear-gradient(0deg, rgba(0,204,153,1) 0%, rgba(240,248,255,1) 70%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 8vh 0 5vh 0;

}

.tech-stack-landing-heading{
    font-size: var(--very-large-font-size);
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-align: center;
}

.tech-stack-landing-text{
    font-size: var(--medium-font-size);
    font-weight: bolder;
    margin-top: 5vh;
    width: 50%;
    text-align: center;
}

.tech-stack-row{
    margin-top: 5vh;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 4vh;

}

.tech-stack-info-card{
    width: 30%;
    border-radius: .4vw;
    padding: .75vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tech-stack-info-card-icon{
    width: var(--very-large-font-size);
    margin-bottom: .5vh;
}

.tech-stack-info{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.tech-stack-info-heading{
    width: 100%;
    font-weight: bold;
    font-size: var(--big-font-size);
    font-family: "Orbitron", sans-serif;
    color: var(--highlight);
    text-align: center;
}

.tech-stack-info-text{
    margin-top: 1vh;
    font-size: var(--medium-font-size);
    text-align: center;
    width: 100%;
}