@media only screen and (max-width: 800px) and (min-width: 526px) {

    .appdev-hero-section{
        height: 72vh;
    }

    .appdev-hero-heading{
        font-size: var(--half-large-font-size);
    }

    .typewriter{
        width: 75%;
    }

    .appdev-hero-text{
        width: 65%;
        font-size: var(--half-medium-font-size);
    }

    .appdev-info-section{
        width: 90%;
        gap: 1vw;
    }

    .app-image{
        max-height: 50vh;
        border-radius: 1vw;
    }

    .appdev-info-text-section{
        width: 100%;
    }

    #info-text{
        width: 90%;

}




}


@media only screen and (max-width: 525px) {
    .appdev-hero-section{
        padding: 4vh 0 6vh 0;
        height: fit-content;
    }

    .typewriter{
        width: 90%;
    }

    .appdev-hero-heading{
        font-size: var(--mobile-big-font-size);
    }

    .appdev-hero-text{
        margin-top: 3vh;
        width: 80%;
        font-size: var(--mobile-medium-font-size);
    }

    .appdev-info-section{
        margin-top: 3vh;
        margin-bottom: 4vh;
        width: 95%;
        gap: 1vw;
        flex-direction: column-reverse;
    }

}