@media only screen and (max-width: 800px) and (min-width: 526px) {

    .appdev-hero-section{
        height: 72vh;
    }

    .appdev-hero-heading{
        font-size: var(--half-large-font-size);
    }

    .typewriter{
        width: 75%;
    }

    .appdev-hero-text{
        width: 65%;
        font-size: var(--half-medium-font-size);
    }

    .appdev-info-section{
        width: 90%;
        gap: 1vw;
    }

    .app-image{
        max-height: 50vh;
        border-radius: 1vw;
    }

    .appdev-info-text-section{
        width: 100%;
    }

    #info-text{
        width: 90%;

}




}


@media only screen and (max-width: 525px) {


}