@media only screen and (max-width: 800px) and (min-width: 526px) {

    .hero-section{
        height: 60vh;
    }

    .hero-heading{
        font-size: var(--half-very-large-font-size);
    }

    .hero-sub-heading{
        font-size: var(--half-big-font-size);
    }

    .hero-text{
        width: 60%;
        font-size: var(--half-medium-font-size);
    }

    .button-with-svg{
        margin-top: 10vh;
        font-size: var(--half-big-font-size);
    }

    .services-overview{
        width: 85%;
    }

    .services-overview-heading{
        font-size: var(--half-big-font-size);
        width: 45%;
    }

    .services-overview-text{
        width: 55%;
        font-size: var(--half-small-font-size);
    }

    .service-card{
        width: 18%;
        height: 12vh;
    }

    .service-title{
        font-size: calc(var(--half-medium-font-size) - .15vw);
    }

    .service-icon{
        width: var(--half-large-font-size);
    }




}


@media only screen and (max-width: 525px) {

        .hero-section{
            padding: 4vh 0 7vh 0;
        }

    .hero-sub-heading{
        font-size: var(--mobile-medium-font-size);
    }

    .hero-heading{
        font-size: var(--mobile-large-font-size);
    }

    .hero-text{
        width: 80%;
        font-size: var(--mobile-medium-font-size);
    }

    .button-with-svg{
        margin-top: 5vh;
        font-size: var(--mobile-big-font-size);
    }

    .services-overview{
        width: 95%;
    }

    .services-overview-heading-section{
        margin-bottom: 2vh;
        flex-wrap: wrap;
    }

    .services-overview-heading{
        width: 100%;
        font-size: var(--mobile-large-font-size);
        text-align: center;
    }

    .services-overview-text{
        margin-top: 2vh;
        width: 100%;
        font-size: var(--mobile-medium-font-size);
        text-align: center;
    }

    .service-overview{
        row-gap: 3vw;
        column-gap: .75vw;
    }

    .service-card{
        width: 25vw;
        height: 15vw;
        box-shadow: var(--mobile-standard-shadow);
    }

    .service-title{
        font-size: calc(var(--mobile-medium-font-size) - .5vw);
        word-break: break-word;
    }

    .service-icon{
        width: 30%;
    }

}